*.aux
*.log
*.out
*.gz
*.pdf
*.toc
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot
*.dvi
*.ps
*.brf
*.spl
*.fdb
*.fdb_latexmk
*.aux
*.log
*.out
*.gz
*.pdf
*.toc
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot
*.dvi
*.ps
*.brf
*.spl
*.xdv
main.fdb_latexmk
main.fls